form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-left: 25%;
}
form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
form input[type="submit"]:hover {
  background-color: #555;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
form select:focus {
  border-color: #333;
  outline: none;
}
