{% extends "base.html" %} {% block content %}
<h1>Виды спорта</h1>
<br />
<p>Виды спорта доступные для поиска, а также доступные в нашем спортзале</p>
<br /><br />
<div class='sport-description'>
    <h2>Баскетболл</h2>
    <p>Баскетбол — это динамичная командная игра, в которой две команды соревнуются за то, чтобы забросить мяч в корзину противника.<br/> <a href="https://ru.wikipedia.org/wiki/Баскетбол" target="_blank">Узнать больше</a></p>
    <br /><br />
  
    <h2>Футболл</h2>
    <p>Футбол — это популярная командная игра, где игроки используют ноги, голову и тело для перемещения мяча и забивания голов в ворота противника. <a href="https://ru.wikipedia.org/wiki/Футбол" target="_blank">Узнать больше</a></p>
    <br /><br />
  
    <h2>Плаванье</h2>
    <p>Плавание — это вид спорта, который включает в себя передвижение по воде с использованием различных стилей, таких как кроль, брасс, баттерфляй и плавание на спине.<br/> <a href="https://ru.wikipedia.org/wiki/Плавание" target="_blank">Узнать больше</a></p>
    <br /><br />
  
    <h2>Теннис</h2>
    <p>Теннис — это игра, в которой игроки используют ракетки для удара по мячу через сетку на сторону противника, стараясь выиграть очки.<br/> <a href="https://ru.wikipedia.org/wiki/Теннис" target="_blank">Узнать больше</a></p>
    <br /><br />
  
    <h2>Йога</h2>
    <p>Йога — это древняя практика, включающая физические упражнения, дыхательные техники и медитацию, направленные на улучшение гибкости, силы и душевного равновесия.<br/> <a href="https://ru.wikipedia.org/wiki/Йога" target="_blank">Узнать больше</a></p>
    <br /><br />
  </div>

{% endblock %}
