{% extends "base.html" %} {% block content %}
<h1>Информация о спортивном питании</h1>
<div class="nutrition-container">
  <div class="nutrition-item">
    <h2>Протеин</h2>
    <img
      src="{{ url_for('static', filename='images/sportpit_image_1.jpg') }}"
      alt="sportpit_image_1"
    />
    <p>
      Протеин — это незаменимый элемент для тех, кто стремится к здоровому
      образу жизни и активным физическим нагрузкам. Он способствует росту и
      восстановлению мышечной ткани, поддерживает иммунную систему и помогает в
      поддержании общего тонуса организма. Наш протеин произведен из
      высококачественных источников, таких как сывороточный протеин, казеин или
      растительные белки, что обеспечивает его высокую биодоступность и
      эффективность. Идеально подходит для использования до и после тренировок,
      а также в качестве дополнения к ежедневному рациону.
    </p>
  </div>
  <div class="nutrition-item">
    <h2>Протеиновые батончики</h2>
    <img
      src="{{ url_for('static', filename='images/sportpit_image_2.jpg') }}"
      alt="sportpit_image_2"
    />
    <p>
      Протеиновый батончик — это удобный и вкусный способ получить необходимый
      белок и энергию в течение дня. Наши батончики содержат оптимальное
      соотношение белков, углеводов и полезных жиров, что делает их идеальным
      перекусом для спортсменов и активных людей. Они изготовлены из натуральных
      ингредиентов, без добавления сахара и искусственных добавок, что делает их
      не только полезными, но и безопасными для здоровья. Протеиновые батончики
      легко укладываются в сумку или рюкзак, что делает их удобным вариантом для
      перекуса на ходу.
    </p>
  </div>
  <div class="nutrition-item">
    <h2>Креатин</h2>
    <img
      src="{{ url_for('static', filename='images/sportpit_image_3.jpg') }}"
      alt="sportpit_image_3"
    />
    <p>
      Креатин — это одна из самых популярных и изученных добавок для улучшения
      физической производительности. Он способствует увеличению силы,
      выносливости и объема мышц, что делает его незаменимым для спортсменов и
      любителей фитнеса. Наш креатин произведен из высококачественного
      креатин-моногидрата, что обеспечивает его высокую эффективность и
      безопасность. Регулярное использование креатина помогает ускорить
      восстановление после тренировок, улучшить общее самочувствие и повысить
      энергетический уровень. Идеально подходит для использования перед
      тренировками или в качестве дополнения к ежедневному рациону.
    </p>
  </div>
</div>
{% endblock %}
