{% extends "base.html" %} {% block content %}
<h1>Новости спорта</h1>
<div class="news-container">
  <div class="news-item">
    <h2>Российская сборная по футболу одерживает победу на чемпионате мира</h2>
    <img
      src="{{ url_for('static', filename='images/sport_news_image1.jpg') }}"
      alt="sport_news_image_1"
    />
    <p>
      Вчера вечером российская сборная по футболу одержала историческую победу
      на чемпионате мира, обыграв команду Бразилии со счетом 3:2.<br />
      Это первая победа России на чемпионате мира за последние 20 лет.
    </p>
  </div>
  <div class="news-item">
    <h2>Новый рекорд мира по бегу на 100 метров</h2>
    <img
      src="{{ url_for('static', filename='images/sport_news_image2.jpg') }}"
      alt="sport_news_image_2"
    />
    <p>
      Американский спринтер Джон Доу установил новый мировой рекорд по бегу на
      100 метров, преодолев дистанцию за 9.58 секунд.<br />
      Это достижение было зафиксировано на соревнованиях в Лондоне
    </p>
  </div>
  <div class="news-item">
    <h2>Теннисистка Мария Шарапова объявляет о завершении карьеры</h2>
    <img
      src="{{ url_for('static', filename='images/sport_news_image3.jpg') }}"
      alt="sport_news_image_3"
    />
    <p>
      Известная российская теннисистка Мария Шарапова официально объявила о
      завершении своей профессиональной карьеры.<br />
      В своем заявлении она поблагодарила всех своих поклонников за поддержку на
      протяжении многих лет
    </p>
  </div>
</div>
{% endblock %}
