{% extends "base.html" %} {% block content %}
<h1>Поиск спортивных секций</h1>
<form method="POST">
  {{ form.hidden_tag() }} {{ form.city.label }} {{ form.city() }} <br />
  {{ form.sport.label }} {{ form.sport() }} <br />
  {{ form.physical_fitness.label }} {{ form.physical_fitness() }} <br />
  {{ form.schedule.label }} {{ form.schedule() }} <br />
  {{ form.location.label }} {{ form.location() }} <br />
  {{ form.cost.label }} {{ form.cost() }}<br />
  {{ form.coach_reputation.label }} {{ form.coach_reputation() }}<br />
  {{ form.atmosphere.label }} {{ form.atmosphere() }}<br />
  {{ form.club_achievements.label }} {{ form.club_achievements() }}<br />
  {{ form.development_opportunities.label }} {{ form.development_opportunities()
  }}<br />
  <input type="submit" value="Search" />
</form>

{% if sections %}
<h2>Найденные секции</h2>
<ul>
  {% for section in sections %}
  <li>
    <h3>
      <a href="{{ url_for('section', id=section.id) }}">{{ section.name }}</a>
    </h3>
    <p>{{ section.description }}</p>
    <ul>
      {% for parameter in section.parameters %}
      <li>{{ parameter.name }}: {{ parameter.value }}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% elif no_results %}
<p>Нет спортивных секций соответсвующих результату.</p>
{% endif %} {% endblock %}
